* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;


}

  body{
      background: #000;
      color: #fff ;
      background-image: url(background-color: #DFDBE5;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E"););

   font: size 16px;
   font-family : "oswald",sans-serif;
 }
a {
    color: azure;
    text-decoration: navajowhite;
}
ul{
    list-style: none;

}
container {
    width: 90;
    margin: auto;
}
**/navigation */
.nav-main {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px;
}
.nav-main ul li a:hover{
    border: 2px solid #fff;

}

.nav-brand{
    width: 20px;

}

/*nav left*/
.nav-main ul li {
    padding: 10px;
}
.nav-main ul .nav-menu {
    flex: 1px;
    margin: 20px;
}